/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

  }


body {
	font-family: 'Inter Variable', sans-serif;
	margin: 0;
	overflow-x: hidden;


}
main {

	background: linear-gradient(180deg, #FFf 0%, #FFCB8D 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
}
h1 {
	font-size: 2rem;
	text-transform: uppercase;
}
h2 {
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}

a {
	font-size: inherit;
	font-weight: inherit;
	transition: 0.3s ease;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a, a:visited, a:hover, a:active {
	color: inherit;
}

p {
	font-size: 1rem;
	font-weight: 300;
}



textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre > code {
	all: unset;
}

blockquote {
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
}

.logo {
	font-family: 'Berkshire Swash', sans-serif !important;
	text-transform: none !important;
	font-size:	2rem !important;
}

.logo:hover {
	text-decoration: none;
	color: #000;
	font-weight: inherit;
}

.section-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0rem;
}

ul {
	padding: 1rem;
  }

ol {
	margin: 0;
	padding: 0;
}

/* Tablet */

/* Mobile */

@media (max-width: 720px) {

	
	
	h2 {
		font-size: 1.75rem;
		text-align: center;
	}

	p {
		font-size: 1rem !important;
		width: 100% !important;
		text-align: justify;
		line-height: 3;
		text-align: left;
	}

	.logo {
		font-size: 2rem;
	}
	
	.divider-top {
		margin-bottom: -1.5%;
	}
	
	.divider-bottom {
		margin-top: -1%;
	}
}



.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
