---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Form from '../components/ContactForm.astro';
import Coffee from '../components/Coffee.astro';
import Footer from '../components/Footer.astro';



import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		

		<main>
            <Header title={SITE_TITLE} />

            <Form />
            <Coffee />
            <Footer />

		</main>

	</body>
</html>

<style>
	main {
		height: 500vh;
	}
</style>