---

---

<section class="coffee">

    <div class="wrapper">
        <div class="left">
           
        </div>
        <div class="right">
            <h2 class="title">
                Support The Blog!!
            </h2>
            <p>
                Love what you're reading on my blog? You can be a part of the fun by buying me a coffee! Your support keeps the good vibes flowing and the content coming. Whether it's a one-time caffeine boost or a recurring sip, every drop counts – thanks a <span>latte</span> for being awesome!
            </p>
            <a href="https://www.buymeacoffee.com/bibilicious" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>

        </div>
    </div>

</section>

<style>
    .coffee {
        background-color: #FFFFFF;
        margin: 15% 0% 2.5%;
    }

    .wrapper {
        display: flex;
        padding: 2rem 20%;
    }

    .left  {
        width: 50%;
        flex-shrink: 0;
        background: url("../assets/images/Yup.png"), -0.238px -16.718px / 100.116% 110.387% no-repeat;
        background-size: cover;
        
        margin-top: -7rem;
        margin-bottom: -2rem;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    span {
        font-weight: bold;
    }

   

</style>