---
import { GoogleForm } from './GoogleForm';
---

<section class="contact">
    <div class="contact-form">
        <h1>Let's Make Words Dance! 💃🕺</h1>
        <div class="wrapper">
            <div class="left">
                <p>
                    I'm pumped that you're thinking about diving into the awesome world of translations! 
                    Whether you've got a quirky document, a cool article, or just something super random that needs translating between Japanese, Tamil, and English, I'm here to make it happen.
                </p>
            </div>
            <div class="right">
                <GoogleForm client:load />
            </div>
        </div>
    </div>
</section>

<style>
    .contact {
        padding: 2.5% 20% 0%;
    }
    
    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 5rem;
        border-radius: 1.5625rem;
        background: #FFF;   
    }

    p {
        width: 40ch;
        line-height: 3;
    }

    .wrapper {
        display: flex;
        align-content: space-between;
        gap: 2rem;
    }

    /* Tablet */
    @media screen and (max-width: 1024px) {
        .contact {
            padding: 2.5% 10% 0%;
        }

        .wrapper {
            flex-direction: column;
        }

        p {
            width: 100%;
            text-align: justify;
            line-height: 2;
        }
    }

    /* Mobile */
    @media screen and (max-width: 768px) {
        .contact {
            padding: 2.5% 5% 0%;
        }

        .contact-form {
            background-color: transparent;
            padding: 1rem 0.5rem;
            gap: 1rem;
        }

        p {
            width: 100%;
            line-height: 1.8;
        }

        h1 {
            font-size: 1.75rem;
            text-align: center;
        }
    }
</style>

