---
const today = new Date();
---

<div class="section-wrapper">

<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="auto" viewBox="0 0 1440 52" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M1440 40.2638H1422C1402.8 40.2638 1365.6 40.2638 1329.6 35.3738C1292.4 30.4837 1255.2 20.7035 1218 16.7914C1182 12.8794 1144.8 14.8355 1107.6 17.7695C1070.4 20.7035 1034.4 24.6156 997.2 21.6815C960 18.7475 922.8 8.96733 885.6 12.8794C849.6 16.7914 812.4 34.3958 775.2 35.3738C738 36.3517 702 20.7035 664.8 17.7695C627.6 14.8355 590.4 24.6156 554.4 31.4617C517.2 38.3078 480 42.2199 442.8 44.1759C405.6 46.1319 369.6 46.1319 332.4 45.1539C295.2 44.1759 258 42.2199 222 33.4177C184.8 24.6156 147.6 8.96733 110.4 3.09927C74.4 -2.76886 37.2 1.14323 18 3.09927L0 5.05531V52H18C37.2 52 74.4 52 110.4 52C147.6 52 184.8 52 222 52C258 52 295.2 52 332.4 52C369.6 52 405.6 52 442.8 52C480 52 517.2 52 554.4 52C590.4 52 627.6 52 664.8 52C702 52 738 52 775.2 52C812.4 52 849.6 52 885.6 52C922.8 52 960 52 997.2 52C1034.4 52 1070.4 52 1107.6 52C1144.8 52 1182 52 1218 52C1255.2 52 1292.4 52 1329.6 52C1365.6 52 1402.8 52 1422 52H1440V40.2638Z" fill="#A8DCE4"/>
    </svg>
<footer>
	


</footer>

</div>

<style>
	footer {
        display: flex;
        flex-direction: column;
        background: linear-gradient(180deg, #A8DBE4 0%, #B7FFC1 100%);
        height: 50dvh
    }

    .section-wrapper {
        display: flex;
        flex-direction: column;
    }
</style>
