---

---

<footer>
    <a href="/" class="logo">
        Bibilicious
    </a>

    <div class="wrapper">
        <div class="info">
            <h2>
                Contact
            </h2>
            <a href="themostbibilicious@gmail.com" type="email">
                themostbibilicious@gmail.com
            </a>
            <p>India</p>
        </div>
        <div class="info">
            <h2>Links</h2>
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <a href="/contact">Contact</a>
            <a href="https://www.buymeacoffee.com/bibilicious">Donate</a>
        </div>

        <div class="info">
            <h2>Socials</h2>
            <a href="">Langmate</a>
            <a href="">Hello Talk</a>
            <a href="">Instagram</a>
        </div>

        <div class="info">
            <h2>Fav Posts</h2>
            <a href="">Points and Practice (Book Review)</a>
            <a href="">My Top 10 Japanese Learning Resources For Grammar, Kanji and JLPT (As a Self-Learner)</a>
        </div>
    </div>
    <h3>designed and developed by crafting clicks</h3>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: column;
        padding: 2.5% 20% 2%;

        align-items: center;
        gap: 5rem;
    }

    h3 {
        font-size: 1rem;
        font-weight: 200;
    }

    .wrapper {
    display: flex;
    justify-content: space-between;
    }

    .info {
        display: grid;
        grid-template-columns: 1fr;
        margin-right: 2rem;
        gap: .5rem;
    }


    a {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.07rem;

    }
</style>