---

---

<footer>
    <div class="top">
        <a href="/" class="logo">
            Bibilicious
        </a>
    </div>
    

    <div class="wrapper">
        <div class="info">
            <h2>
                Contact
            </h2>
            <a href="bibilicious@gmail.com" type="email">
                bibilicious@gmail.com
            </a>
            <p>India</p>
        </div>
        <div class="info">
            <h2>Links</h2>
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <a href="/contact">Contact</a>
            <a href="https://www.buymeacoffee.com/bibilicious">Donate</a>
        </div>

        <div class="info">
            <h2>Socials</h2>
            <a href="">Langmate</a>
            <a href="">Hello Talk</a>
            <a href="">Instagram</a>
        </div>

        <div class="info">
            <h2>Fav Posts</h2>
            <a href="">Points and Practice (Book Review)</a>
            <a href="">My Top 10 Japanese Learning Resources For Grammar, Kanji and JLPT (As a Self-Learner)</a>
        </div>
    </div>
</footer>

<style>
    footer {
        padding: 2.5% 20% 5%;
    }

    .top {
        text-align: center;
        padding-bottom: 2.5rem;
    }

    .wrapper {
        display: flex;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 55ch;

        text-align: left;
    }


    a {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.07rem;
    }

    a:hover {
        text-decoration: none !important;
    }
</style>