---
// Import everything necessary
import { getCollection } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

// Get all blog posts
const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<footer>
    <div class="top">
        <a href="/" class="logo">
            Bibilicious
        </a>
    </div>
    

    <div class="wrapper">
        <div class="info">
            <h2>
                Contact
            </h2>
            <a href="bibilicious@gmail.com" type="email">
                bibilicious@gmail.com
            </a>
            <p>India</p>
        </div>
        <div class="info">
            <h2>Links</h2>
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <a href="/contact">Contact</a>
            <a href="https://www.buymeacoffee.com/bibilicious">Donate</a>
        </div>

        <div class="info">
            <h2>Socials</h2>
            <a href="">Langmate</a>
            <a href="">Hello Talk</a>
            <a href="">Instagram</a>
        </div>

        <div class="info">
            <h2>Recent Posts</h2>
            {
                posts.slice(0, 2).map((post) => (
                    
                        <a href={`/blog/${post.slug}/`}>
                            {post.data.title}
                        </a>
                    
    
                ))
            }
        </div>
    </div>
</footer>

<style>
    footer {
        padding: 2.5% 20% 5%;
    }

    .top {
        text-align: center;
        padding-bottom: 2.5rem;
    }

    .wrapper {
        display: flex;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 55ch;

        text-align: left;
    }


    a {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.07rem;
    }

    a:hover {
        text-decoration: underline solid #fff;
        text-decoration-thickness: 2px;
        text-underline-offset: 5px;

    }

    /* tablet */
    @media screen and (max-width: 1024px) {
        footer {
            padding: 2.5% 10% 5%;
        }
    }

    /* mobile */

    @media screen and (max-width: 768px) {
        footer {
            padding: 7.5% 5% 7.5%;
        }

        .top {
            text-align: left;
        }
        .wrapper {
            flex-direction: column;
            gap: 2.5rem;
        }

        .info {
            width: 100%;
            text-align: left;
            gap: 1rem;
        }

        h2 {
            font-size: 1.5rem;
            text-align: left;
            line-height: 2;
        }
    }

</style>