---


---

<header>
	
	<nav>
		
		<a href="/" class="logo">
			Bibilicious
		</a>

		<ul>
			<li>
				<a href="#About">About</a>
			</li>
			<li>
				<a href="/blog">Blog</a>
			</li>
		</ul>
		
	</nav>
	
</header>
<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="auto" viewBox="0 0 1440 52" fill="none">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M0 11.7362H18C37.2 11.7362 74.4 11.7362 110.4 16.6262C147.6 21.5163 184.8 31.2965 222 35.2086C258 39.1206 295.2 37.1645 332.4 34.2305C369.6 31.2965 405.6 27.3844 442.8 30.3185C480 33.2525 517.2 43.0327 554.4 39.1206C590.4 35.2086 627.6 17.6042 664.8 16.6262C702 15.6483 738 31.2965 775.2 34.2305C812.4 37.1645 849.6 27.3844 885.6 20.5383C922.8 13.6922 960 9.78015 997.2 7.8241C1034.4 5.86809 1070.4 5.86809 1107.6 6.8461C1144.8 7.8241 1182 9.78015 1218 18.5823C1255.2 27.3844 1292.4 43.0327 1329.6 48.9007C1365.6 54.7689 1402.8 50.8568 1422 48.9007L1440 46.9447V0H1422C1402.8 0 1365.6 0 1329.6 0C1292.4 0 1255.2 0 1218 0C1182 0 1144.8 0 1107.6 0C1070.4 0 1034.4 0 997.2 0C960 0 922.8 0 885.6 0C849.6 0 812.4 0 775.2 0C738 0 702 0 664.8 0C627.6 0 590.4 0 554.4 0C517.2 0 480 0 442.8 0C405.6 0 369.6 0 332.4 0C295.2 0 258 0 222 0C184.8 0 147.6 0 110.4 0C74.4 0 37.2 0 18 0H0V11.7362Z" fill="#B7FFC1"/>
  </svg>


<style>

	header {
		padding: 0% 15%;
		background: linear-gradient(180deg, #A6D8E5 0%, #B7FFC1 100%);
	}
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;

		
	}
	nav ul {
		display: flex;
		list-style: none;
		gap: 3rem;
	}

	li a {
		
		transition: 0.5s ease;
	}

	li a:hover {
		color: gray;
		text-decoration: overline wavy;

	}


	

	
</style>
