---
import { Image } from "astro:assets";

import Bmac from "./button/bmac.astro";

---

<header>
	
	<nav>
		
		<a href="/" class="logo">
			Bibilicious
		</a>

			<ul>
				<li>
					<a href="/contact">Contact</a>
				</li>
				<li>
					<a href="/blog">Blog</a>
				</li>
			</ul>

				<Bmac />
	</nav>
	
</header>



<style>

	header {
		padding: 2.5% 20%;
	}

	
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;

		
	}

	nav ul {
		display: flex;
		list-style: none;
		gap: 3rem;

		padding: 0.5625rem 1rem;
		justify-content: center;
		align-items: center;
		gap: 1.1875rem;
		
		border-radius: 3.125rem;
		border: 1px solid #000;
	}

	li a {
		font-size: .9rem;
		transition: 0.5s ease;
	}

	li a:hover {
		color: gray;
		text-decoration: none;

	}


	/* responsive styles */

	@media screen and (max-width: 1024px) {
		header {
			padding: 2% 10%;
		}

		

	}
	
	@media screen and (max-width: 768px) {
		header {
			padding: 0% 5%;
		}
		
		nav {
			justify-content: center;
		}

		
	}
	

	
</style>
