---

---

<section class="about">

    <div class="right">
        <img
            src='/hero.png'
            alt="Image of Shruthi"
            width="300"
            />
    </div>

    <div class="left">
     <h2>Hello, I'm BIBI~</h2>
     <p>and I have a passion for languages.</p>
     <p>I offer professional English to Japanese 
        translation services.</p>

    </div>

</section>

<style>
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        height: 50vh;
    }

    h2 {
        font-size: 2.25rem;
        text-transform: uppercase;
    }

    p {
        font-family: 'Cabin', sans-serif;; 
        font-size: 1rem;
        text-transform: uppercase;
        width: 45ch;
    }

    @media screen and (max-width: 768px) {
        .about {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 15rem 15%;
        }

        .right {
            order: 2;
        }

        .left {
            order: 1;
        }

        h2 {
            text-align: justify;
        }

        img {
            width: 25rem;
        }
        

        
        
    }
</style>