---
import { GoogleNewsletterForm } from './GoogleForm';
---

<section class="newsletter">
    <h2>NEWSLETTER SIGNUP!!!</h2>
    <p>Subscribe to know when a blog goes live! 🤗</p>
    
    <GoogleNewsletterForm client:load />
</section>

<style>
    .newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 5% 0%;
    }

    p {
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        text-transform: capitalize;
        width: 45ch;
        line-height: 2;
    }

   /* Tablet */
    @media screen and (max-width: 1024px) {
        p {
            width: 35ch;
        }
    }

    @media screen and (max-width: 768px) {
        .newsletter {
            padding: 5rem 5%;
        }

        p {
            width: 100%;
        }
    }
</style>
