---

---

<section class="newsletter">

    <h2>NEWSLETTER SIGNUP!!!</h2>
    <p>To get notified when a new post goes up on the website leave your email behind! 🤗</p>

    <form action="" method="post">
        <input class="email" type="email" name="email" id="email" placeholder="EMAIL" required>
        <input class="button" type="submit" value="SUBMIT">
    </form>

</section>


<style>
    .newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 1rem;

        padding: 2rem;
        height: 45dvh;

    }

    p {
        text-align: center;
        font-family: 'Oxygen', sans-serif;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: capitalize;
        width: 45ch;
    }

    .email {
        background: #DEDEDE;
        color: #444;
        font-family: 'Cabin', sans-serif;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        border: none;
        padding: .5rem 2rem;
        outline: none;
    }

    .button {
        background: #A8DBE4;
        color: #444;
        font-family: 'Cabin', sans-serif;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        border: none;
        padding: .5rem 2rem;
        cursor: pointer;

    }

    .button:active{
        scale: 0.99;
        
    }

    form:hover, form:focus, form:active {
        transform: scale(1.02);
    }


   
</style>