---

---

<section class="newsletter">

    <h2>NEWSLETTER SIGNUP!!!</h2>
    <p>To get notified when a new post goes up on the website leave your email behind! 🤗</p>

    <form action="" method="post">
        <input class="email" type="email" name="email" id="email" placeholder="Email" required>
        <input class="button" type="submit" value="Subscribe">
    </form>

</section>


<style>
    .newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 5% 0%;
    }

    p {
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        text-transform: capitalize;
        width: 45ch;
        line-height: 2;
    }

    .email {
        background: #fff;
        color: #444;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border: none;
        padding: .5rem 2rem;
        outline: none;
        border: 0.789px solid #888;


    }

    .button {
        background: #FF6782;
        color: #444;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: .5rem 2rem;
        cursor: pointer;
        border: 0.789px solid #888;


    }

   /* Tablet */

    @media screen and (max-width: 1024px) {

        .email, .button {
            font-size: 1.25rem;
        }

    }



    @media screen and (max-width: 768px) {
        

        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: .5rem;

        }

        .email, .button {
            font-size: 1.25rem;
        }
    }

   
</style>