---

---

<section class="newsletter">

    <h2>NEWSLETTER SIGNUP!!!</h2>
    <p>To get notified when a new post goes up on the website leave your email behind! 🤗</p>

    <form action="" method="post">
        <input type="email" name="email" id="email" placeholder="EMAIL" required>
        <input type="submit" value="SUBMIT">
        
    </form>

</section>


<style>
    .newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

   
</style>